<html lang="en"><head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

  
    <title>Cero Codigo Edocs</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.debug.js"></script>

    <!-- MetisMenu CSS -->
    <link href="/static/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="/static/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="/static/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome.min.css" rel="stylesheet" type="text/css">


<!--<link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
       <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <!--       
        <script type="text/javascript" src="js/jquery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="js/jquery/jquery-ui-1.8.17.custom.min.js"></script>
    <script type="text/javascript" src="../dist/jspdf.debug.js"></script>
    <script type="text/javascript" src="js/basic.js"></script>
  
<script type="text/javascript" src="/static/zlib.js"></script>
<script type="text/javascript" src="/static/png.js"></script>
<script type="text/javascript" src="/static/addimage.js"></script>
<script type="text/javascript" src="/static/png_support.js"></script>       
<script type="text/javascript" src="/static/jspdf.js"></script>
  -->
   
    
    <!--[endif]---->
     <script>
        $(function() {
            $("#accordion-basic, #accordion-text, #accordion-graphic").accordion({
                autoHeight: false,
                navigation: true
            });
            $( "#tabs" ).tabs();
            $(".button").button();
        });
        
function format2(n, currency) {
    return currency + " " + n.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,");
}




function predecir_num(){
  var numeros = ""
  var  tempo = ""
  var str = document.getElementById("txtA").value;
  str =str.toLowerCase();
  for (var i = 0; i < str.length; i++) {
    
    
    if (str.charAt(i) == "a"){numeros = numeros + "1"}
    if (str.charAt(i) == "á"){numeros = numeros + "1"}
    if (str.charAt(i) == "b"){numeros = numeros + "1"}
    if (str.charAt(i) == "c"){numeros = numeros + "1"}
    if (str.charAt(i) == "d"){numeros = numeros + "2"}
    if (str.charAt(i) == "e"){numeros = numeros + "2"}
    if (str.charAt(i) == "é"){numeros = numeros + "2"}
    if (str.charAt(i) == "f"){numeros = numeros + "2"}
    if (str.charAt(i) == "g"){numeros = numeros + "3"}
    if (str.charAt(i) == "h"){numeros = numeros + "3"}
    if (str.charAt(i) == "i"){numeros = numeros + "3"}
    if (str.charAt(i) == "í"){numeros = numeros + "3"}
    if (str.charAt(i) == "j"){numeros = numeros + "4"}
    if (str.charAt(i) == "k"){numeros = numeros + "4"}
    if (str.charAt(i) == "l"){numeros = numeros + "4"}
    if (str.charAt(i) == "m"){numeros = numeros + "4"}
    if (str.charAt(i) == "n"){numeros = numeros + "5"}
    if (str.charAt(i) == "o"){numeros = numeros + "5"}
    if (str.charAt(i) == "ó"){numeros = numeros + "5"}
    if (str.charAt(i) == "p"){numeros = numeros + "5"}
    if (str.charAt(i) == "q"){numeros = numeros + "6"}
    if (str.charAt(i) == "r"){numeros = numeros + "6"}
    if (str.charAt(i) == "s"){numeros = numeros + "6"}
    if (str.charAt(i) == "t"){numeros = numeros + "6"}
    if (str.charAt(i) == "u"){numeros = numeros + "7"}
    if (str.charAt(i) == "ú"){numeros = numeros + "7"}
    if (str.charAt(i) == "v"){numeros = numeros + "7"}
    if (str.charAt(i) == "w"){numeros = numeros + "7"}
    if (str.charAt(i) == "x"){numeros = numeros + "8"}
    if (str.charAt(i) == "y"){numeros = numeros + "8"}
    if (str.charAt(i) == "z"){numeros = numeros + "8"}
    if (str.charAt(i) == " "){numeros = numeros + " "}
        
}
    
    document.getElementById("txtfast").value = numeros;
  
    predecir_aja()

}
  
  
  


function predecir_aja() {
var str = document.getElementById("txtfast").value;
var str2 = str.split(" ");
var a = "";
var b = "";
for (i = 0; i < str2.length; i++) {
    if (i == str2.length - 2){
      b = str2[i]

    }
    if (i == str2.length -1 ){
      a = str2[i]

    }
    
}
if (a =="") {a = str;}

$.get("decode/"+ str , function(data, status){
$("#div_intro").html(data);
});
}

function hacer_nnumeros(){
  var numeros = ""
  var  tempo = ""
  var str = document.getElementById("txtplabras").value;
  str =str.toLowerCase();
  for (var i = 0; i < str.length; i++) {
    
    
    if (str.charAt(i) == "a"){numeros = numeros + "1"}
    if (str.charAt(i) == "á"){numeros = numeros + "1"}
    if (str.charAt(i) == "b"){numeros = numeros + "1"}
    if (str.charAt(i) == "c"){numeros = numeros + "1"}
    if (str.charAt(i) == "d"){numeros = numeros + "2"}
    if (str.charAt(i) == "e"){numeros = numeros + "2"}
    if (str.charAt(i) == "é"){numeros = numeros + "2"}
    if (str.charAt(i) == "f"){numeros = numeros + "2"}
    if (str.charAt(i) == "g"){numeros = numeros + "3"}
    if (str.charAt(i) == "h"){numeros = numeros + "3"}
    if (str.charAt(i) == "i"){numeros = numeros + "3"}
    if (str.charAt(i) == "í"){numeros = numeros + "3"}
    if (str.charAt(i) == "j"){numeros = numeros + "4"}
    if (str.charAt(i) == "k"){numeros = numeros + "4"}
    if (str.charAt(i) == "l"){numeros = numeros + "4"}
    if (str.charAt(i) == "m"){numeros = numeros + "4"}
    if (str.charAt(i) == "n"){numeros = numeros + "5"}
    if (str.charAt(i) == "o"){numeros = numeros + "5"}
    if (str.charAt(i) == "ó"){numeros = numeros + "5"}
    if (str.charAt(i) == "p"){numeros = numeros + "5"}
    if (str.charAt(i) == "q"){numeros = numeros + "6"}
    if (str.charAt(i) == "r"){numeros = numeros + "6"}
    if (str.charAt(i) == "s"){numeros = numeros + "6"}
    if (str.charAt(i) == "t"){numeros = numeros + "6"}
    if (str.charAt(i) == "u"){numeros = numeros + "7"}
    if (str.charAt(i) == "ú"){numeros = numeros + "7"}
    if (str.charAt(i) == "v"){numeros = numeros + "7"}
    if (str.charAt(i) == "w"){numeros = numeros + "7"}
    if (str.charAt(i) == "x"){numeros = numeros + "8"}
    if (str.charAt(i) == "y"){numeros = numeros + "8"}
    if (str.charAt(i) == "z"){numeros = numeros + "8"}
    if (str.charAt(i) == " "){numeros = numeros + " "}
        
}
    
    document.getElementById("txtnumeros").value = numeros;
  
  
}
  
  
  
      
        </script>


</head>

<body>

    
          
            <table style="background-color: white; width: 90%; text-align: left;" align="center" border="0" cellpadding="2" cellspacing="2">
        <tbody>
          <tr align="center">
<td>

<div class="panel panel-primary">
<div class="panel-heading">
                           AIA, traductor de numero a letras
                        </div>
                        <div class="panel-body">
                         
<div class="form-group">
  
                                              <label>escribe una oración</label>
                                              <input class="form-control" id="txtplabras" value="hola me llamo juan">
                        <button type="button" onclick="hacer_nnumeros()" class="btn btn-primary">Hacer numeros</button>
                                              
                                            
                                        </div>
  
                  <form method="post" id="form_correos">
                                            {% csrf_token %}

<div class="form-group">
  
                                              <label>escribe una oración en numeros</label>

              <input class="form-control" id="txtnumeros" name="txtnumeros" type="text" name="txtnumeros" >

                        <button type="submit" form="form_correos" class="btn btn-primary">Predecir</button>
                                              
                                              
                                            
                                        </div>

  </form>
  
                        </div>
                        
                                                <button type="button" onclick="predecir_aja()" class="btn btn-primary">Hacer numeros</button>

    <form method="post" id="form_fast">
                                            {% csrf_token %}

<div class="form-group">
  
                                              <label>escribe</label>

              <input class="form-control" id="txtA" name="txtA" type="text" name="txtA" onkeyup="predecir_num()">                                              
              <input class="form-control" id="txtfast" name="txtfast" type="text" name="txtfast" onkeyup="predecir_aja()">                                              
            </div>
</form>
                            <div class="panel-footer" style="text-align: left;">
                              
                                            
     <div id="div_intro">
      
     </div>

  
                       
                       
<label>{{numeros}} - {{palabras}}</label>
                
            
</div></div>


              <div class="col-sm-4">
              <div class="panel panel-success">
                        <div class="panel-heading">bi_num_letr</div>
                        <div class="panel-body">
                            <ul>{% for key,value in bi_num_letr.items %}<li>{{key}}:{{ value }}</li>{% endfor %}</ul>
                        </div>
              </div></div>  
              <div class="col-sm-4">
              <div class="panel panel-success">
                        <div class="panel-heading">num_letr</div>
                        <div class="panel-body">
                            <ul>{% for key,value in num_letr.items %}<li>{{key}}:{{ value }}</li>{% endfor %}</ul>
                        </div>
              </div></div>  
              <div class="col-sm-4">
              <div class="panel panel-success">
                        <div class="panel-heading">num_letr_bi</div>
                        <div class="panel-body">
                            <ul>{% for key,value in num_letr_bi.items %}<li>{{key}}:{{ value }}</li>{% endfor %}</ul>
                        </div>
              </div></div>
              
              <div class="col-sm-4">
              <div class="panel panel-success">
                        <div class="panel-heading">num_letr_uni</div>
                        <div class="panel-body">
                            <ul>{% for key,value in num_letr_uni.items %}<li>{{key}}:{{ value }}</li>{% endfor %}</ul>
                        </div>
              </div></div>  
  
      
      </td>

        </tr>
          
        </tbody></table>

                         
            
        
        <!-- /#page-wrapper -->


    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/static/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="/static/jquery.dataTables.min.js"></script> 
    <script src="/static/dataTables.bootstrap.min.js"></script>
    <script src="/static/dataTables.responsive.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true,
        });
    });
    </script>
  
    
  




</body></html>