<div class="row row-table">
        
              <div class="col-sm-8">
                <div class="col-inner" data-sr="left" data-sr-id="12" style="; visibility: visible;  -webkit-transform: translateX(0); opacity: 1;transform: translateX(0); opacity: 1;-webkit-transition: -webkit-transform 0.8s ease-in-out 0s, opacity 0.8s ease-in-out 0s; transition: transform 0.8s ease-in-out 0s, opacity 0.8s ease-in-out 0s; ">
                  <div class="section-heading">
                    <h5>Cero Código</h5>
                    <h1>Software Empresarial Industrial</h1>
                    <p>ERP de gestión empresarial-industrial especializado en pequeñas y medianas empresas.</p>
                    <br>
                    <p>100% integrado, ofreciendo funciones como: </p>
                    <p>CRM, Lotes, Producción, Documentos electrónicos, trazabilidad y logística</p>
                                     
                  </div> <!-- .section-heading -->
              </div>
                
              </div>
              <div class="col-sm-6 col-md-p-l-1 m-t-60-xs-max">
                <div class="col-inner clearfix">
                  <img class="img-responsive float-r-sm-min m-x-auto-xs-max" src="/static/assets2/img/amedida.png" alt="" data-sr="right" data-sr-id="1" style="; visibility: visible;  -webkit-transform: translateX(0); opacity: 1;transform: translateX(0); opacity: 1;-webkit-transition: -webkit-transform 0.8s ease-in-out 0s, opacity 0.8s ease-in-out 0s; transition: transform 0.8s ease-in-out 0s, opacity 0.8s ease-in-out 0s; ">
                </div>
              </div>
             



  </div>



          
