<div class="row row-table">
              
              <div class="col-sm-8">
                <div class="col-inner" data-sr="left" data-sr-id="12" style="; visibility: visible;  -webkit-transform: translateX(0); opacity: 1;transform: translateX(0); opacity: 1;-webkit-transition: -webkit-transform 0.8s ease-in-out 0s, opacity 0.8s ease-in-out 0s; transition: transform 0.8s ease-in-out 0s, opacity 0.8s ease-in-out 0s; ">
                  <div class="section-heading">
                    <h5>Implementación</h5>
                    <h1>Garantia de 30 dias</h1>
                    <p>El tiempo de implementación es 30 días.</p>
                    <p>Durante este periodo puedes solicitar todo tipo de cambios, ajustes o mejoras que creas necesarias</p>
                    <br>
                    <p>Con nuestros expertos te ayudamos a identificarlos procesos claves.</p>
                    <p>Brindándote ideas y mejoras de diversas industrias para enriquecer tu forma de trabajar</p>
                    
                    
                  </div> <!-- .section-heading -->
                 
                </div>
              </div>
              <div class="col-sm-6 col-md-p-l-1 m-t-60-xs-max">
                <div class="col-inner clearfix">
                  <img class="img-responsive float-r-sm-min m-x-auto-xs-max" src="/static/assets2/img/garantia.png" alt="" data-sr="right" data-sr-id="1" style="; visibility: visible;  -webkit-transform: translateX(0); opacity: 1;transform: translateX(0); opacity: 1;-webkit-transition: -webkit-transform 0.8s ease-in-out 0s, opacity 0.8s ease-in-out 0s; transition: transform 0.8s ease-in-out 0s, opacity 0.8s ease-in-out 0s; ">
                </div>
              </div>
            </div>