<div class="row row-table">
              
              <div class="col-sm-8">
                <div class="col-inner" data-sr="left" data-sr-id="12" style="; visibility: visible;  -webkit-transform: translateX(0); opacity: 1;transform: translateX(0); opacity: 1;-webkit-transition: -webkit-transform 0.8s ease-in-out 0s, opacity 0.8s ease-in-out 0s; transition: transform 0.8s ease-in-out 0s, opacity 0.8s ease-in-out 0s; ">
                  <div class="section-heading">
                    <h5>Desarrollo inmediato</h5>
                    <h1>Tecnología de Punta</h1>
                    <p>Cero Código es inteligencia artificial que programa por nosotros,</p>
                    <p>Con solo diseñar los procesos se generan en tiempo real, entregando soluciones inmediatas.</p>
                    
                    
                  </div> <!-- .section-heading -->
                 
                </div>
              </div>
              <div class="col-sm-6 col-md-p-l-1 m-t-60-xs-max">
                <div class="col-inner clearfix">
                  <img class="img-responsive float-r-sm-min m-x-auto-xs-max" src="/static/assets2/img/ilimitados.png" alt="" data-sr="right" data-sr-id="1" style="; visibility: visible;  -webkit-transform: translateX(0); opacity: 1;transform: translateX(0); opacity: 1;-webkit-transition: -webkit-transform 0.8s ease-in-out 0s, opacity 0.8s ease-in-out 0s; transition: transform 0.8s ease-in-out 0s, opacity 0.8s ease-in-out 0s; ">
                </div>
              </div>
            </div>