<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#333">
    <title>Tutoriales</title>
    <meta name="description" content="Material Style Theme">

    <link rel="icon" href="/static/assets/img/logo_negro.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/assets2/css/preload.min.css" />
    <link rel="stylesheet" href="/static/assets2/css/plugins.min.css" />
    <link rel="stylesheet" href="/static/assets2/css/style.light-blue-500.min.css" />
    <!--[if lt IE 9]>
        <script src="/static/assets2/js/html5shiv.min.js"></script>
        <script src="/static/assets2/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="ms-preload" class="ms-preload">
      <div id="status">
        <div class="spinner">
          <div class="dot1"></div>
          <div class="dot2"></div>
        </div>
      </div>
    </div>
    <div class="sb-site-container">
      <!-- Modal -->
      <div class="modal modal-primary" id="ms-account-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog animated zoomIn animated-3x" role="document">
          <div class="modal-content">
            <div class="modal-header shadow-2dp no-pb">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                  <i class="zmdi zmdi-close"></i>
                </span>
              </button>
              <div class="modal-title text-center">
              
                                 <img src="/static/assets/img/site-header-logo.png" alt="">

              </div>
             
            </div>
          </div>
        
        </div>
      </div>
      <header class="ms-header ms-header-primary" style="background-color: #6610f2;">
        <div class="container container-full">
          <div class="ms-title">
            <a href="index.html">
              <!-- <img src="/static/assets2/img/demo/logo-header.png" alt=""> -->
             
           <div class="navbar-brand-wrap">
                <a class="navbar-brand" href="#">
                  <img src="/static/assets/img/site-header-logo.png" alt="" style="height: 40px;">
                </a>
              </div>
            </a>
          </div>
          </div>
      </header>
    
    
    
       <div class="container">
        <div class="row">
          <div class="col-md-3 hidden-sm hidden-xs">
            <div class="card card-info">
              <div class="card-header" style="background-color: #6f42c1;">
                <h3 class="card-title">
                  <i class="zmdi zmdi-filter-list"></i>Filtros</h3>
              </div>
              <div class="card-block no-pb">
                <form class="form-horizontal">
                  <h4 class="no-m color-primary">Areas</h4>
                  <div class="form-group mt-1">
                   <!-- <div class="radio no-mb">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios0" value="option0" checked="" class="filter" data-filter="all"> Todos </label>
                    </div>
--> <!--
                    <div class="radio no-mb">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" class="filter" data-filter=".cat_primeros">Primeros pasos</label>
                    </div>
                    <div class="radio no-mb">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" class="filter" data-filter=".cat_cerocodigo">Cero Codigo</label>
                    </div>  -->
                    <div class="radio no-mb">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" class="filter" data-filter=".cat_sri">SRI</label>
                    </div>

                     <div class="radio no-mb">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios5" value="option5" class="filter" data-filter=".cat_iess">IESS</label>
                    </div>
                    <div class="radio no-mb">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios5" value="option5" class="filter" data-filter=".cat_emprende">Eprendimineto</label>
                    </div>

                    <div class="radio no-mb">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4" class="filter" data-filter=".cat_contabilidad">Contabilidad</label>
                    </div>
                    <div class="radio no-mb">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4" class="filter" data-filter=".cat_negocios">Negocios</label>
                    </div>
                   <div class="radio no-mb">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4" class="filter" data-filter=".cat_marketing ">Marketing </label>
                    </div>
                  </div>
                </form>
                <h4 class="mt-2 color-primary no-mb">Columnas</h4>
              </div>
              <ul class="nav nav-tabs nav-tabs-transparent indicator-primary nav-tabs-full nav-tabs-4" role="tablist">
                <li>
                  <a id="Cols1" class="withoutripple" href="#home7" aria-controls="home7" role="tab" data-toggle="tab">1</a>
                </li>
                <li class="active">
                  <a id="Cols2" class="withoutripple" href="#profile7" aria-controls="profile7" role="tab" data-toggle="tab">2</span>
                  </a>
                </li>
                <li>
                  <a id="Cols3" class="withoutripple" href="#messages7" aria-controls="messages7" role="tab" data-toggle="tab">3</a>
                </li>
                <li>
                  <a id="Cols4" class="withoutripple" href="#settings7" aria-controls="settings7" role="tab" data-toggle="tab">4</a>
                </li>
              </ul>
              <div class="card-block">
                <form class="form-horizontal">
                  <div class="form-group no-mt">
                    <!--<div class="col-md-12">
                      <h4 class="no-m color-primary mb-2">Descripción</h4>
                      <div class="togglebutton">
                        <label>
                          <input id="port-show" type="checkbox"> Mostrar</label>
                      </div>
                    </div>
                  -->
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="row" id="Container">

<!--
{% for demo in demos %}

              <div class="col-md-4 col-sm-6 mix {{demo.cat}}">
                <div class="card">
                  <figure class="ms-thumbnail">
                    <img src="/static/img/pdf.png" alt="" class="img-responsive">
                    <figcaption class="ms-thumbnail-caption text-center">
                      <div class="ms-thumbnail-caption-content">
                        <a href="{{demo.url}}" target="_blank" style="color: white;">
                        <h5 class="ms-thumbnail-caption-title mb-2">{{demo.nombre}}</h5>
                            <i class="fa fa-download" style="color: white;"></i>
                            <h5 class="ms-thumbnail-caption-title mb-2" style="color: white;">Ver PDF</h5>
                        </a>
                      </div>
                    </figcaption>
                  </figure>
                  <div class="card-block text-center portfolio-item-caption hidden">
                    <h3 class="color-primary no-mt">{{demo.nombre}}</h3>
                    <p>{{demo.resumen}}</p>
                  </div>
                </div>
              </div>

{% endfor %}  
--> 


             
<div class="col-md-6 col-sm-6 mix cat_emprende">
  <div class="card" style="height: 300px;">
   <iframe width="100%" height="100%" src="https://www.youtube.com/embed/YQmR9g_-uVs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="col-md-6 col-sm-6 mix cat_emprende">
  <div class="card" style="height: 300px;">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Sk42ARzX9jw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="col-md-6 col-sm-6 mix cat_negocios">
  <div class="card" style="height: 300px;">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/hLYbOpZNe_4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>
</div>
<div class="col-md-6 col-sm-6 mix cat_marketing">
  <div class="card" style="height: 300px;">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Uf_CE2TKfYk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="col-md-6 col-sm-6 mix cat_contabilidad">
  <div class="card" style="height: 300px;">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/iSNMvzR8-8U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="col-md-6 col-sm-6 mix cat_contabilidad">
  <div class="card" style="height: 300px;">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/yKXwLn3LZuM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="col-md-6 col-sm-6 mix cat_contabilidad">
  <div class="card" style="height: 300px;">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/MvjegXy7OGU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="col-md-6 col-sm-6 mix cat_negocios">
  <div class="card" style="height: 300px;">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/3hld2OkhKvE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="col-md-6 col-sm-6 mix cat_marketing">
  <div class="card" style="height: 300px;">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/WRutbxWM5sc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>



<div class="col-md-6 col-sm-6 mix cat_sri">
  <div class="card" style="height: 300px;">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/atPxQXz6i6Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>
</div>

<div class="col-md-6 col-sm-6 mix cat_sri">
  <div class="card" style="height: 300px;">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/aIphiXd1Hwc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<div class="col-md-6 col-sm-6 mix cat_sri">
  <div class="card" style="height: 300px;">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Fml7-b_mVDs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<div class="col-md-6 col-sm-6 mix cat_sri">
  <div class="card" style="height: 300px;">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ILFwD3i1ZFY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<div class="col-md-6 col-sm-6 mix cat_iess">
  <div class="card" style="height: 300px;">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/CbZ6YJzorKw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<div class="col-md-6 col-sm-6 mix cat_iess">
  <div class="card" style="height: 300px;">
<iframe width="100%" height="100%" src="https://www.youtube.com/embed/pCOPGTR03dw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<div class="col-md-6 col-sm-6 mix cat_iess">
  <div class="card" style="height: 300px;">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/S3jQPdlrSkk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="col-md-6 col-sm-6 mix cat_iess">
  <div class="card" style="height: 300px;">
<iframe width="100%" height="100%" src="https://www.youtube.com/embed/xEPIFeOPtP8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>


<div class="col-md-6 col-sm-6 mix cat_iess">
  <div class="card" style="height: 300px;">
<iframe width="100%" height="100%" src="https://www.youtube.com/embed/RZZyGpSVV3A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>


            </div>
          </div>
        </div>
      </div>
      <!-- container -->
  
 
      <footer class="ms-footer">
        <div class="container">
          <p>Copyright &copy; CeroCódigo 2017</p>
        </div>
      </footer>
      
    </div>
    <!-- sb-site-container -->
    <script src="/static/assets2/js/plugins.min.js"></script>
    <script src="/static/assets2/js/app.min.js"></script>
    <script src="/static/assets2/js/portfolio.js"></script>
  </body>
</html>