<table style="width: 350px;text-align: center;">
  <tbody>
      
      <tr><td><h3 style="margin-top: 5px;margin-bottom: 5px;">{{Bod_nom}}</h3></td></tr>
      <tr><td><h5 style="margin-top: 5px;margin-bottom: 5px;">Rosa Ibelia Ochoa Alejandro</h5></td></tr>
      <tr><td><h4 style="margin-top: 5px;margin-bottom: 5px;">RUC: 0701281503001</h4></td></tr>
      <tr><td><p>Ingreso a Bodega</p></td></tr>
  </tbody>
</table>

<p style="width: 350px;text-align: center;">------------------------------------</p>



<table style="width: 350px;">
  <tbody>
      <tr><td colspan="3" style="font-weight: bold;">Destino: {{Destino}}</td></tr>
      <tr><td style="font-weight: bold;">Total: </td><td colspan="2">{{Total}}</td></tr>
      <tr><td style="font-weight: bold;">Fecha: </td><td colspan="2">{{Fecha_consumo}}</td></tr>
      <tr><td style="font-weight: bold;">Referencia: </td><td colspan="2">{{Referencia}}</td></tr>
      <tr><td style="font-weight: bold;">Observacion: </td><td colspan="2">{{Observacion}}</td></tr>
  </tbody>
</table>

<p style="width: 350px;text-align: center;">------------------------------------</p>