<html><head>
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title></title>
</head>
<body style="border: 0pt none;background-color: rgb(207, 216, 220);">
<br>
<br><br><br><br><table style="text-align: center; width: 100%;" border="0" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td>
      <br><br><br><br><table style="background-color: white; width: 85%; text-align: left;" align="center" border="0" cellpadding="2" cellspacing="2" width="60%">
        <tbody>
          <tr align="center">
            <td colspan="2" rowspan="1" style="padding: 0px 10px; width: 30%; text-align: left; font-size: 16px; color: rgb(38, 50, 56); font-family: 'Roboto',Helvetica,Arial,sans-serif;"><span>
            <table style="width: 95%; height: 30px; text-align: left; margin-left: auto; margin-right: auto;" border="0" cellpadding="2" cellspacing="2">
              <tbody>
                <tr>
               

                  <td style="width: 35%;">
                    <img style="width: 350px; height: 169px;" alt="" src="cid:-logo-"><br>
                      (contribuyenteEspecial)<br>
                      Obligado a llevar contabilidad<span>&nbsp;(obligadoContabilidad)</span>
                      (regimenMicroempresas)<br>
                      tag_agenteRetencion <span>&nbsp;(agenteRetencion)</span>
                    </td>
                  <td>


                  <table style="text-align: left; width: 100%; height: 159px;" border="0" cellpadding="1" cellspacing="0" width="100%">
                    <tbody>
                      <tr>
                        <td style="vertical-align: top; height: 100%; width: 100%;">&nbsp;<span style="font-weight: bold;"></span>
                        <table style="text-align: left; width: 100%;" border="0" cellpadding="2" cellspacing="0">
                          <tbody>
                            <tr>
                              <td><span style="padding: 0px 10px; font-size: 16px; color: rgb(38, 50, 56); font-weight: bold; font-family: 'Roboto',Helvetica,Arial,sans-serif;">Ruc:</span></td>
                              <td style="padding: 0px 10px; text-align: right; font-size: 16px; color: rgb(38, 50, 56); font-family: 'Roboto',Helvetica,Arial,sans-serif;"><span>(ruc)</span><span style="color: rgb(136, 18, 128); font-family: monospace; font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; display: inline ! important; float: none;"></span></td>
                            </tr>
                            <tr>
                              <td><span style="padding: 0px 10px; text-align: right; font-size: 16px; color: rgb(38, 50, 56); font-family: 'Roboto',Helvetica,Arial,sans-serif;">(tipo)</span><span style="color: rgb(136, 18, 128); font-family: monospace; font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; display: inline ! important; float: none;"></span></td>
                              <td style="text-align: right;"></td>
                            </tr>
                            <tr>
                              <td><span style="padding: 0px 10px; font-size: 16px; color: rgb(38, 50, 56); font-weight: bold; font-family: 'Roboto',Helvetica,Arial,sans-serif;">No.:</span><span></span><span style="color: rgb(136, 18, 128); font-family: monospace; font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; display: inline ! important; float: none;"></span></td>
                              <td style="padding: 0px 10px; text-align: right; font-size: 16px; color: rgb(38, 50, 56); font-family: 'Roboto',Helvetica,Arial,sans-serif;"><span style="font-weight: bold;"> </span><span>(estab)</span><span>
- </span><span>(ptoEmi)</span><span>
- </span><span>(secuencial)</span></td>
                            </tr>
                            <tr>
                              <td><span style="padding: 0px 10px; font-size: 16px; color: rgb(38, 50, 56); font-weight: bold; font-family: 'Roboto',Helvetica,Arial,sans-serif;">Autorización</span></td>
                              <td style="text-align: right;"></td>
                            </tr>
                            <tr>
                              <td colspan="2" rowspan="1"><span style="padding: 0px 10px; text-align: right; font-size: 14px; color: rgb(38, 50, 56); font-family: 'Roboto',Helvetica,Arial,sans-serif;">(autorizacion)</span><span style="color: rgb(136, 18, 128); font-family: monospace; font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; display: inline ! important; float: none;"></span></td>
                            </tr>
                            <tr>
                              <td><span style="padding: 0px 10px; font-size: 16px; color: rgb(38, 50, 56); font-weight: bold; font-family: 'Roboto',Helvetica,Arial,sans-serif;">Fecha
y Hora:</span></td>
                              <td style="padding: 0px 10px; text-align: right; font-size: 16px; color: rgb(38, 50, 56); font-family: 'Roboto',Helvetica,Arial,sans-serif;"><span>(fechaEmision)</span><span style="color: rgb(136, 18, 128); font-family: monospace; font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; display: inline ! important; float: none;"></span></td>
                            </tr>
                            <tr>
                              <td><span style="padding: 0px 10px; font-size: 16px; color: rgb(38, 50, 56); font-weight: bold; font-family: 'Roboto',Helvetica,Arial,sans-serif;">Ambiente:</span></td>
                              <td style="padding: 0px 10px; text-align: right; font-size: 16px; color: rgb(38, 50, 56); font-family: 'Roboto',Helvetica,Arial,sans-serif;"><span>(ambiente)</span><span style="color: rgb(136, 18, 128); font-family: monospace; font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; display: inline ! important; float: none;"></span></td>
                            </tr>
                            <tr>
                              <td><span style="padding: 0px 10px; font-size: 16px; color: rgb(38, 50, 56); font-weight: bold; font-family: 'Roboto',Helvetica,Arial,sans-serif;">Emisión:</span></td>
                              <td style="padding: 0px 10px; text-align: right; font-size: 16px; color: rgb(38, 50, 56); font-family: 'Roboto',Helvetica,Arial,sans-serif;">Normal<span></span><span style="color: rgb(136, 18, 128); font-family: monospace; font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; display: inline ! important; float: none;"></span></td>
                            </tr>
                            <tr>
                              <td><span style="padding: 0px 10px; font-size: 16px; color: rgb(38, 50, 56); font-weight: bold; font-family: 'Roboto',Helvetica,Arial,sans-serif;">Clave
Acceso</span></td>
                              <td style="text-align: right;"></td>
                            </tr>
                            <tr>
                              <td colspan="2" rowspan="1"><span style="padding: 0px 10px; text-align: right; font-size: 14px; color: rgb(38, 50, 56); font-family: 'Roboto',Helvetica,Arial,sans-serif;">(claveAcceso)</span></td>
                            </tr>
                          </tbody>
                        </table>
                        <span style="font-weight: bold;"></span><span></span></td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </span>
            </td>
          </tr>
          
          <tr bgcolor="">
            <td colspan="2" rowspan="1" style="padding: 0px 10px; text-align: left; font-size: 16px; color: rgb(38, 50, 56); font-family: 'Roboto',Helvetica,Arial,sans-serif;"><span>&nbsp;(razonSocial)</span><span style="color: rgb(136, 18, 128); font-family: monospace; font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; display: inline ! important; float: none;"></span><br>
&nbsp;<span>(nombreComercial)<br>
            </span>&nbsp;Direccion: <span style="font-family: monospace;"></span><span>(dirMatriz)</span></td>
          </tr>
          <tr bgcolor="">
            <td colspan="2" rowspan="1" style="text-align: center;">
            <br><table style="width: 95%; height: 61px; text-align: left; margin-left: auto; margin-right: auto;" border="0" cellpadding="4" cellspacing="0">
              <tbody style="
    background-color: #ECEFF1;
">
                <tr style="text-align: center;">
                  <td style="vertical-align: top; width: 50%;">&nbsp;<span style="padding: 0px 10px; font-size: 16px; color: rgb(38, 50, 56); font-weight: bold; font-family: 'Roboto',Helvetica,Arial,sans-serif;">
Razón Social / Nombres Apellidos:</span><br>
                  <span></span><span style="color: rgb(136, 18, 128); font-family: monospace; font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; display: inline ! important; float: none;"></span></td>
                  <td style="vertical-align: top;">&nbsp;<span style="padding: 0px 10px; font-size: 16px; color: rgb(38, 50, 56); font-weight: bold; font-family: 'Roboto',Helvetica,Arial,sans-serif;">Identificación:</span><span style="padding: 0px 10px; text-align: left; font-size: 16px; color: rgb(38, 50, 56); font-family: 'Roboto',Helvetica,Arial,sans-serif;">(identificacionComprador)</span><span style="color: rgb(136, 18, 128); font-family: monospace; font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; display: inline ! important; float: none;"></span><br>
                  <span></span><span style="color: rgb(136, 18, 128); font-family: monospace; font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; display: inline ! important; float: none;"></span></td>
                </tr>
                <tr>
                  <td colspan="2" rowspan="1"><span style="padding: 0px 10px; text-align: left; font-size: 16px; color: rgb(38, 50, 56); font-family: 'Roboto',Helvetica,Arial,sans-serif;">(razonSocialComprador)</span></td>
                </tr>
            
            <tr>
                  <td style="font-weight: bold;padding: 0px 10px;">Comprobante que se modifica:<br>
Fecha emisión:</td>
                  <td style="">(codDocModificado) - (numDocModificado)<br>
(fechaEmisionDocSustento)<br>
                  </td>
                </tr>
            
            <tr>
                  <td style="font-weight: bold;padding: 0px 10px;">Razón de modificación:</td>
                  <td style="text-align: center;">(motivo)</td>
                </tr>
          
            </tbody>
            </table>
            
            
            </td>
          
          </tr><tr align="center">
            <td rowspan="1" colspan="2"><br>(tabladetalle)</td>
          </tr>
          
          <tr bgcolor="">
            <td style="vertical-align: top;width: 50%;align-items: center;">
             
            
            
            <br><span style="padding: 0px 10px; font-size: 16px; color: rgb(38, 50, 56); font-weight: bold; font-family: 'Roboto',Helvetica,Arial,sans-serif;">Información
adicional</span><br>
             <div style="padding: 0px 10px;">
             <span style="/* font-family: monospace; */font-size: 13px;font-style: normal;font-variant: normal;font-weight: normal;letter-spacing: normal;line-height: normal;text-align: start;text-indent: 0px;text-transform: none;white-space: normal;word-spacing: 0px;display: inline ! important;float: none;padding-left: 20;">
          (InfoAdicional)
                          </span></div>
            </td>
            <td style="vertical-align: top;/* background-color: #eceff1; */">
            <table style="text-align: left;background-color: #eceff1;" align="center" border="0" cellpadding="1" cellspacing="0" width="80%">
              <tbody style="">
                <tr>
                  <td style="vertical-align: top; width: 50%;">&nbsp;Subtotal
0%<br>
                  </td>
                  <td style="vertical-align: top; text-align: right;">(subtotal0)<br>
                  </td>
                </tr>
                
                <tr style="">
                  <td style="vertical-align: top; width: 50%;">&nbsp;Subtotal&nbsp;12%</td>
                  <td style="vertical-align: top; text-align: right;">(subtotal12)</td>
                </tr>
                
                <tr>
                  <td style="width: 50%; vertical-align: top;">&nbsp;Subtotal
14%<br>
                  </td>
                  <td style="vertical-align: top; text-align: right;">(subtotal14)</td>
                </tr>
                
                <tr>
                  <td style="vertical-align: top; width: 50%;">&nbsp;Subtotal
No
objeto Iva<br>
                  </td>
                  <td style="vertical-align: top; text-align: right;">(subtotalno)</td>
                </tr>
                <tr>
                  <td style="vertical-align: top; width: 50%;">&nbsp;Subtotal
Sin
Impuestos<br>
                  </td>
                  <td style="vertical-align: top; text-align: right;"><span>(totalSinImpuestos)</span><span style="color: rgb(136, 18, 128); font-family: monospace; font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; display: inline ! important; float: none;"></span></td>
                </tr>
                
                <tr>
                  <td style="vertical-align: top; width: 50%;">&nbsp;ICE<br>
                  </td>
                  <td style="vertical-align: top; text-align: right;">(iec)<br>
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align: top; width: 50%;">&nbsp;IVA<br>
                  </td>
                  <td style="vertical-align: top; text-align: right;">(iva)</td>
                </tr>
                <tr>
                  <td style="font-weight: bold; vertical-align: top; width: 50%;">&nbsp;VALOR
TOTAL<br>
                  </td>
                  <td style="vertical-align: top; text-align: right;">(valorModificacion)<br>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td colspan="2" rowspan="1">
<br></td>
          </tr>
        </tbody>
      </table>
      </td>
    </tr>
    <tr><td>
      <span style="
    text-align: center;
"><br><br> 
Generado con '<a target="_blank" href="http://www.cerocodigo.com/">CeroCodigo</a>', descarga el documento en:

<a target="_blank" href="http://www.cerocodigo.com/e_docs/Credito/(claveAcceso)/">www.cerocodigo.com/e_docs/Credito/(claveAcceso)</a>
</span>
  </td>
    </tr>
    
  </tbody>
</table>





</body></html>