<html lang="en"><head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

  
    <title>Cero Codigo Edocs</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.debug.js"></script>

    <!-- MetisMenu CSS -->
    <link href="/static/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="/static/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="/static/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>

    
          
            <table style="background-color: white; width: 60%; text-align: left;" align="center" border="0" cellpadding="2" cellspacing="2">
        <tbody>
          <tr align="center">
<td>

<div class="panel panel-primary">
  <div class="panel-heading">
                           Activacion de usuario
  </div>
  <div class="panel-body">
 
 {{mensaje}}
 
  </div>

               
   <a href="http://www.cerocodigo.com" target="_blank"> <h3 class="ms-footbar-title text-center mb-2">www.cerocodigo.com</h3></a>


</div>
                             
                       
    <!-- jQuery -->
    <script src="/static/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="/static/jquery.dataTables.min.js"></script> 
    <script src="/static/dataTables.bootstrap.min.js"></script>
    <script src="/static/dataTables.responsive.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true,
        });
    });
    </script>
  
    
  




</body></html>