<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#333">
    <title>Expertos CeroCodigo</title>
    <meta name="description" content="Material Style Theme">
    <link rel="shortcut icon" href="/static/assets2/img/favicon.png?v=3">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/assets2/css/preload.min.css" />
    <link rel="stylesheet" href="/static/assets2/css/plugins.min.css" />
    <link rel="stylesheet" href="/static/assets2/css/style.light-blue-500.min.css" />
    <!--[if lt IE 9]>
        <script src="/static/assets2/js/html5shiv.min.js"></script>
        <script src="/static/assets2/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="ms-preload" class="ms-preload">
      <div id="status">
        <div class="spinner">
          <div class="dot1"></div>
          <div class="dot2"></div>
        </div>
      </div>
    </div>
    <div class="sb-site-container">
      <!-- Modal -->
      <div class="modal modal-primary" id="ms-account-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog animated zoomIn animated-3x" role="document">
          <div class="modal-content">
            <div class="modal-header shadow-2dp no-pb">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                  <i class="zmdi zmdi-close"></i>
                </span>
              </button>
              <div class="modal-title text-center">
                <img src="/static/assets/img/site-header-logo.png" alt="">
              </div>
            </div>
          </div>
        
        
        </div>
      </div>
      <header class="ms-header ms-header-primary">
        <div class="container container-full">
          <div class="ms-title">
            <a href="index.html">
              <!-- <img src="/static/assets2/img/demo/logo-header.png" alt=""> -->
             
           <div class="navbar-brand-wrap">
                <a class="navbar-brand" href="/">
                  <img src="/static/assets/img/site-header-logo.png" alt="" style="height: 40px;">
                </a>
              </div>
            </a>
          </div>
          </div>
      </header>
    
    
    
       <div class="container">
        <div class="row">
          <div class="col-md-3 hidden-sm hidden-xs">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="zmdi zmdi-filter-list"></i>Filtros</h3>

              </div> 
                <div class="col-xs-6 text-right">
                            <a href="/experto_solicitud" class="btn btn-raised btn-sm btn-warning">
                            <i class="zmdi zmdi-account"></i>Quiero ser experto</a>
                          </div>
              <div class="card-block no-pb">
                <form class="form-horizontal">
                  <h4 class="no-m color-primary"></h4>
                  <br>
                  <div class="form-group mt-1">
                   <!-- <div class="radio no-mb">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios0" value="option0" checked="" class="filter" data-filter="all"> Todos </label>
                    </div>
-->
                   <div class="radio no-mb">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios5" value="option5" class="filter" data-filter=".Colombia">Colombia</label>
                    </div>
                    
                    <div class="radio no-mb">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" class="filter" data-filter=".Ecuador">Ecuador</label>
                    </div>
                    <div class="radio no-mb">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" class="filter" data-filter=".España">España</label>
                    </div>  
                    <div class="radio no-mb">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" class="filter" data-filter=".Peru">Peru</label>
                    </div>

                    
     <div class="radio no-mb">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios5" value="option5" class="filter" data-filter=".Venezuela">Venezuela</label>
                    </div>
     


                    

                  </div>
                </form>
                <h4 class="mt-2 color-primary no-mb">Columnas</h4>
              </div>
              <ul class="nav nav-tabs nav-tabs-transparent indicator-primary nav-tabs-full nav-tabs-4" role="tablist">
                <li>
                  <a id="Cols1" class="withoutripple" href="#home7" aria-controls="home7" role="tab" data-toggle="tab">1</a>
                </li>
                <li>
                  <a id="Cols2" class="withoutripple" href="#profile7" aria-controls="profile7" role="tab" data-toggle="tab">2</span>
                  </a>
                </li>
                <li class="active">
                  <a id="Cols3" class="withoutripple" href="#messages7" aria-controls="messages7" role="tab" data-toggle="tab">3</a>
                </li>
                <li>
                  <a id="Cols4" class="withoutripple" href="#settings7" aria-controls="settings7" role="tab" data-toggle="tab">4</a>
                </li>
              </ul>



            </div>
          </div>
          <div class="col-md-9">
            <div class="row" id="Container">


{% for experto in expertos %}
{{ experto.receptor_nom }}



 
              <div class="col-md-4 col-sm-6 mix {{ experto.pais }}">
                <div>
                  <div class="card card-warning wow zoomInUp animation-delay-5">
                    <div class="withripple zoom-img">
                      <img src="/static/img/1.jpg" alt="..." class="img-responsive">
                    </div>
                  <div class="card-block">
                      <span class="label label-warning pull-right">{{ experto.tipo }}</span>
                      <h3 class="color-warning">{{ experto.nombre }}</h3>
                      <p style="text-align: justify;">{{ experto.resumen }}</p>
                    <div class="row">
                      <div class="col-xs-6">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        5/5
                      </div>
                      <div class="col-xs-6 text-right">
                          <div class="col-xs-6 text-right">
                            <a href="/experto_contacto/{{ experto.pkexperto }}" class="btn btn-raised btn-sm btn-success">
                            <i class="zmdi zmdi-account"></i>Contactar</a>
                          </div>
                      </div>
                      Mas de {{experto.opiniones}} <a href="javascript:void(0)"> Proyectos. </a>
                    </div>
                  </div>
                  </div>
                </div>
              </div>

{% endfor %}           

          


            </div>
          </div>
        </div>
      </div>
      <!-- container -->
  
 
      <footer class="ms-footer">
        <div class="container">
          <p>Copyright &copy; CeroCódigo 2014</p>
        </div>
      </footer>
      
    </div>
    <!-- sb-site-container -->
    <script src="/static/assets2/js/plugins.min.js"></script>
    <script src="/static/assets2/js/app.min.js"></script>
    <script src="/static/assets2/js/portfolio.js"></script>
  </body>
</html>