<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9 no-js" lang="en"><![endif]-->
<!--[if gt IE 9 | !IE]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CeroCódigo</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="apple-touch-icon" href="/static/assets/img/apple-touch-icon.png">
  <link rel="icon" href="/static/assets/img/logo_negro.ico">
  <link rel='stylesheet' href='/static/assets/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/static/assets/css/vendor.css'>
  <link rel='stylesheet' href='/static/assets/css/style.css'>
  <link rel='stylesheet' href='/static/assets/css/custom.css'>
  <!--[if lte IE 9]><!-->
  <script src='/static/assets/js/vendor/html5shiv.min.js'></script>
  <!--<![endif]-->
  
      <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87398686-2', 'auto');
  ga('send', 'pageview');

</script>
      
      
<script>


</script>
      

   <script src='https://www.google.com/recaptcha/api.js'></script>
      
      
</head>
<body>

  <div class="site">
    <div class="site-loader">
      <div class="site-loader-spinner"></div>
    </div> <!-- .site-loader -->

    <div class="site-canvas">
      <header class="site-header">
        <nav class="navbar navbar-theme">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="navbar-brand-wrap">
                <a class="navbar-brand" href="#">
                  <img src="/static/assets/img/site-header-logo.png" alt="">
                </a>
              </div>
            </div> <!-- .navbar-header -->

            <div class="collapse navbar-collapse" id="navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#home">Início</a></li>
                <li><a href="#brief_2">Datos</a></li>
                <li><a href="#brief_3" target="_blank">Contador Virtual</a></li>
                <li><a href="#contact" target="_blank">Salir</a></li>


      
                <li class="audio-toggle"><a href="#"><i class="fa fa-volume-up"></i></a></li>
              </ul>
            </div> <!-- .navbar-collapse -->
          </div>
        </nav>
      </header> <!-- .site-header -->
      <main class="site-main">
        <div id="home" class="section block-primary position-r align-c-xs-max" style="padding: 125px 0 180px;">
          <div id="" class="site-bg">
            <div class="site-bg-img"></div>
            <div class="site-bg-video"></div>
            <div class="site-bg-overlay"></div>
            <div class="site-bg-effect layer" data-depth=".30"></div>
            <!--<canvas class="site-bg-canvas layer" data-depth=".30"></canvas>-->
          </div> <!-- .site-bg -->

          <div class="container">
            <div class="row row-table">
              <!-- <div class="col-sm-4">
                <ul class="icon-list align-m m-t-30">

                <li><a class="btn btn-default m-y-5 waves-effect waves-light" style="width: 250px;" onclick= banner1()>ERP Libre</a></li>
               
                <li><a class="btn btn-warning m-y-7 waves-effect waves-light" style="width: 250px;" onclick= banner3()>Crea Cuenta</a></li>
                <li><a class="btn btn-success m-y-5 waves-effect waves-light" style="width: 250px;" onclick= banner4()>Descargar</a></li>
                <li><a class="btn btn-invert m-y-5 waves-effect waves-light" style="width: 250px;" href="/demo" target="_blank">Demos y Tutoriales</a></li>
               </ul>
               </div>
               -->
               <div id="div_intro" class="col-sm-11">
           
        
     <h2>Panel de Control de Usuario xxx</h2>
 
        <div class="row row-table">
              <div class="col-sm-6">
                <div class="col-inner" data-sr="left" data-sr-id="12" style="; visibility: visible;  -webkit-transform: translateX(0); opacity: 1;transform: translateX(0); opacity: 1;-webkit-transition: -webkit-transform 0.8s ease-in-out 0s, opacity 0.8s ease-in-out 0s; transition: transform 0.8s ease-in-out 0s, opacity 0.8s ease-in-out 0s; ">
                  <div class="section-heading">
                  
          
   <h5>Medidores de estado y notificaciones</h5>
        <ul class="icon-list align-l m-t-30">
          <li><img src="/static/assets/img/icon/thunder.png" alt="">Notiicacion 1</li>
          <li><img src="/static/assets/img/icon/thunder.png" alt="">Paga carajo</li>
          <li><img src="/static/assets/img/icon/thunder.png" alt="">Notificacion 2</li>

                    </ul>
                            
                  </div> 

                <a class="btn btn-warning m-y-5" style="width: 300px;" href="#brief_2" target="_blank">Habilita tu sistema</a>
                <a class="btn btn-warning m-y-5" style="width: 300px;" href="#brief_3" target="_blank">Contador Virtual</a>
                <a class="btn btn-warning m-y-5" style="width: 300px;" href="https://www.cerocodigo.com/esp/log" target="_blank">Abre Cero Codigo</a>

                </div>
              </div>
         
<div class="col-sm-4 col-md-p-l-1 m-t-60-xs-max">Primeros Pasos
<iframe width="400" height="300" src="https://www.youtube.com/embed/FBaHJgowDkI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                </div>


              </div>
            </div>
      
               </div>
              
            </div>
               
          </div>
        </div> 

       <!-- <div id="brief_1" class="section block-success align-c-xs-max" style="padding-top: 20px; padding-bottom: 20px;">
  
        </div>
        #brief_3 -->


        <div id="brief_2" class="section block-warning align-c-xs-max" style="padding-top: 20px; padding-bottom: 20px;"> 
        <div class="container">
            <h5 style="text-align: center;">Leena los siguientes datos para poder usar CeroCodigo</h5>
            <div class="col-sm-6"> 
              <div class="panel panel-info">
                <div class="panel-heading">
                  <i class="fa fa-puzzle-piece" style="padding-right: 10px;"></i>Datos Negocio</div>
                <div class="panel-body">
                  <div class="list-group">
                    <div class="icon-box-content font-sub font-italic">

                    <label class="control-label" style="color: black;font-size: 12px;font-weight: bold;">user_Id</label>
                    <div class="input-group" style="width: 100%;">
                      <input type="text" id="user_Id" class="form-control col-sm-2" value="" style="width: 80%;height: 25px;font-size: 11px;">
                      <button type="button" class="btn btn-info" onclick="" style="height: 25px;padding: 0px 0px;margin-top: 0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;"><span class="fa fa-fw fa-check-square" aria-hidden="true"></span></button>
                    </div>

                    <label class="control-label" style="color: black;font-size: 12px;font-weight: bold;">user_RazonSocial</label>
                    <div class="input-group" style="width: 100%;">
                      <input type="text" id="user_RazonSocial" class="form-control col-sm-2" value="" style="width: 80%;height: 25px;font-size: 11px;">
                      <button type="button" class="btn btn-info" onclick="" style="height: 25px;padding: 0px 0px;margin-top: 0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;"><span class="fa fa-fw fa-check-square" aria-hidden="true"></span></button>
                    </div>

                    <label class="control-label" style="color: black;font-size: 12px;font-weight: bold;">user_RazonComercial</label>
                    <div class="input-group" style="width: 100%;">
                      <input type="text" id="user_RazonComercial" class="form-control col-sm-2" value="" style="width: 80%;height: 25px;font-size: 11px;">
                      <button type="button" class="btn btn-info" onclick="" style="height: 25px;padding: 0px 0px;margin-top: 0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;"><span class="fa fa-fw fa-check-square" aria-hidden="true"></span></button>
                    </div>

                    <label class="control-label" style="color: black;font-size: 12px;font-weight: bold;">user_Direccion</label>
                    <div class="input-group" style="width: 100%;">
                      <input type="text" id="user_Direccion" class="form-control col-sm-2" value="" style="width: 80%;height: 25px;font-size: 11px;">
                      <button type="button" class="btn btn-info" onclick="" style="height: 25px;padding: 0px 0px;margin-top: 0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;"><span class="fa fa-fw fa-check-square" aria-hidden="true"></span></button>
                    </div>
              
                </div>
              </div>
            </div>
          </div>


          
        </div> <!-- #brief_2 -->
<div class="col-sm-6"> 
            <div class="panel panel-info">
              <div class="panel-heading">
                  <i class="fa fa-puzzle-piece" style="padding-right: 10px;"></i>Documentos electronicos</div>
                <div class="panel-body">
                  <div class="list-group">  
                    <div class="icon-box-content font-sub font-italic">

                    <label class="control-label" style="color: black;font-size: 12px;font-weight: bold;">user_Archivo</label>
                    <div class="input-group" style="width: 100%;">
                      <input type="text" id="user_Archivo" class="form-control col-sm-2" value="" style="width: 80%;height: 25px;font-size: 11px;">
                      <button type="button" class="btn btn-info" onclick="" style="height: 25px;padding: 0px 0px;margin-top: 0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;"><span class="fa fa-fw fa-check-square" aria-hidden="true"></span></button>
                    </div>

                    <label class="control-label" style="color: black;font-size: 12px;font-weight: bold;">user_Clave</label>
                    <div class="input-group" style="width: 100%;">
                      <input type="text" id="user_Clave" class="form-control col-sm-2" value="" style="width: 80%;height: 25px;font-size: 11px;">
                      <button type="button" class="btn btn-info" onclick="" style="height: 25px;padding: 0px 0px;margin-top: 0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;"><span class="fa fa-fw fa-check-square" aria-hidden="true"></span></button>
                    </div>

                    <label class="control-label" style="color: black;font-size: 12px;font-weight: bold;">user_Correo</label>
                    <div class="input-group" style="width: 100%;">
                      <input type="text" id="user_Correo" class="form-control col-sm-2" value="" style="width: 80%;height: 25px;font-size: 11px;">
                      <button type="button" class="btn btn-info" onclick="" style="height: 25px;padding: 0px 0px;margin-top: 0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;"><span class="fa fa-fw fa-check-square" aria-hidden="true"></span></button>
                    </div>

                    <label class="control-label" style="color: black;font-size: 12px;font-weight: bold;">user_Contabilidad</label>
                    <div class="input-group" style="width: 100%;">
                      <input type="text" id="user_Contabilidad" class="form-control col-sm-2" value="" style="width: 80%;height: 25px;font-size: 11px;">
                      <button type="button" class="btn btn-info" onclick="" style="height: 25px;padding: 0px 0px;margin-top: 0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;"><span class="fa fa-fw fa-check-square" aria-hidden="true"></span></button>
                    </div>
                  </div>        
                  </div>

                </div>
              </div>
            </div>
          </div>
       

      <div id="brief_3" class="section block-primary align-c-xs-max" style="padding-top: 20px; padding-bottom: 20px;">
          <div class="container">
            <h5 style="text-align: center;"></h5>
             
        
          </div>
      </div> <!-- #brief_2 -->
     
     
     
      
      
      
    


  <div id="contact" class="section block-default" style="padding-top: 20px; padding-bottom: 20px;">
    <div class="container">
      <div class="section-heading text-center">
        <h4>Contador Vintual</h4>
        <p>Pregunta lo que necesites, nos comunicaremos contigo lo antes posible.</p>

        <div class="row">
    
        <div class="col-sm-12">

           <div class="panel panel-info">
                <div class="panel-heading">
                  <i class="fa fa-puzzle-piece" style="padding-right: 10px;"></i>Datos Negocio</div>
                <div class="panel-body">
                  <select id="userTipo" class="form-control selectpicker">
                    <option>Declarar SRI</option>
                    <option>Iess</option>
                    <option>Soprote</option>
                    <option>Desarrollador independiente</option>
                    <option>Estudiante</option>
                    <option>Distribuidor local de software</option>
                  </select>


                   <select id="userTipo" class="form-control selectpicker">
                    <option>Declarar SRI</option>
                    <option>Iess</option>
                    <option>Soprote</option>
                    <option>Desarrollador independiente</option>
                    <option>Estudiante</option>
                    <option>Distribuidor local de software</option>
                  </select>
                   <select id="userTipo" class="form-control selectpicker">
                    <option>Declarar SRI</option>
                    <option>Iess</option>
                    <option>Soprote</option>
                    <option>Desarrollador independiente</option>
                    <option>Estudiante</option>
                    <option>Distribuidor local de software</option>
                  </select>
            </div>
          </div>

  

          </div>

        </div>




      
      </div>
    </div>
  </div>



    

       
      </main> <!-- .site-main -->
      <footer class="site-footer block-invert">
        <div class="container">
        
            <img class="site-footer-logo img-responsive"  style="visibility: visible;" src="/static/assets/img/site-footer-logo.png" data-sr="bottom">
           
          <p class="site-footer-copyright">2020 © <a href="#" target="_blank">CeroCódigo</a> | Derechos reservados.</p>
          
          
        </div>
      </footer> <!-- .site-footer -->
    </div>
  </div>

  <script src="/static/assets/js/vendor/jquery-1.11.3.min.js"></script>
  <script src='/static/assets/js/vendor/bootstrap.min.js'></script>
  <script src='/static/assets/js/vendor/plugin.js'></script>
  <script src='/static/assets/js/variable.js'></script>
  <script src='/static/assets/js/map.js'></script>
  <script src='/static/assets/js/main.js'></script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <!--
  <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X','auto');ga('send','pageview');
  </script>
  -->

</body>

</html>