<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Dashboard</title>

    <!-- Bootstrap core CSS-->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="/static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin.css" rel="stylesheet">

  </head>
<script src="/static/jquery.min.js"></script> 


<script>
function addtab(var1) {
        document.getElementById("targetDiv").innerHTML = var1;
}
 
function repor_variables(pkreprote) {
        document.getElementById("targetDiv").innerHTML = var1;
}
function HandlePopupResult(result,  valor) {
        document.getElementById("ref"+result).value = valor;

}
function buscar(clicked_id) {
       // alert(clicked_id);
        //document.getElementById("ref"+clicked_id).value = clicked_id;
        //a=window.open()
        //a.document.write("<div id='mydiv'>test</div>")
        //a.document.getElementById("mydiv")
//        var myWindow = window.open("http://45.55.178.17/reporte/ref/buscar/"+clicked_id +"/", "myWindow", "width=800, height=500");
        var myWindow = window.open("log/reporte/ref/buscar/"+clicked_id +"/", "myWindow", "width=800, height=500");
 }

function cerrar_elemento(id_tab) {
        //document.getElementById("ref"+clicked_id).value = clicked_id;
        //a=window.open()
        //a.document.write("<div id='mydiv'>test</div>")
        //a.document.getElementById("mydiv")
//        var myWindow = window.open("http://45.55.178.17/reporte/ref/buscar/"+clicked_id +"/", "myWindow", "width=800, height=500");
$(id_tab["0"].hash).remove();

}

function fecha_repor(tipoFecha) {
        
        var fecha_hoy = new Date();
        switch(tipoFecha) {
                case "FechaAnio":
                        return fecha_hoy.getFullYear + '-' + '01-01' 
                case "FechaMes":
                        return fecha_hoy.getFullYear + '-' + (fecha_hoy.getMonth() +1 )  + '-01' 
                default:
                        return fecha_hoy.getFullYear + '-' + (fecha_hoy.getMonth() +1 )  + '-' +  fecha_hoy.getDate()
                            }
}
function ejecutar_reporte(clicked_id) {
       // alert("entro " + clicked_id);   
}
function getCookie(c_name){
    if (document.cookie.length > 0)
    {
        c_start = document.cookie.indexOf(c_name + "=");
        if (c_start != -1)
        {
            c_start = c_start + c_name.length + 1;
            c_end = document.cookie.indexOf(";", c_start);
            if (c_end == -1) c_end = document.cookie.length;
            return unescape(document.cookie.substring(c_start,c_end));
        }
    }
    return "";
}
</script>


<script> // fufnciones del inrgeso de registor 
function ingreso_add_detalle(pkmodulo) {
        alert("entro " + pkmodulo);   
$('#' + pkmodulo).append('<tr>...</tr><tr>...</tr>');

}
</script>  

<script>  
$(document).ready(function(){

$(".opciones_list").click(function(e){
window.open("log/opciones/Ingresar/"+$(this).attr("id") +"/", '_blank');
    });

$(".reporte_list").click(function(e){
        $("#rr"+ $(this).attr("id")).remove();
        $("#rr"+ $(this).attr("id")).empty();
        $("#ul_list").prepend('<li class=""><a href="#rr' + $(this).attr("id") + ' "id="rr' + $(this).attr("id") + '" data-toggle="tab" aria-expanded="false">' + $(this).attr("result") + '</a></li>');
        var id_tab = $(this).attr("id");
        $.get("log/reporte/var/"+$(this).attr("value") +"/"+$(this).attr("label") +"/", function(data, status){
                var fecha_hoy = new Date();
                var dia
                var mes
                mes = fecha_hoy.getMonth() 
                if (fecha_hoy.getMonth() > 9) {mes = (mes +1)} else { mes = ("0"+ (mes + 1))}
                if (fecha_hoy.getDate() > 10) {dia = (fecha_hoy.getDate())} else {dia = ("0"+fecha_hoy.getDate()) }
                data = data.replace("v_Fecha", fecha_hoy.getFullYear() + '-' + (mes)  + '-' +  (dia));
                data = data.replace("v_AFecha", fecha_hoy.getFullYear() + '-' + '01-01' );
                data = data.replace("v_MFecha", fecha_hoy.getFullYear() + '-' + (mes)  + '-01' );

     buton_cerrar = ' <button type="button" onclick="cerrar_elemento(rr'+ id_tab +')" class="btn btn-primary">Cerrar</button>'
         // buton_cerrar = ' <button type="button" onclick="cerrar_elemento()" class="btn btn-primary">Cerrar</button>'

         tag_id = "rr" + id_tab
                data = data.replace("**boton_cierre**", buton_cerrar);
         
                data = data.replace("**tabla**", tag_id);


        $("#ul_div").prepend('<div class="tab-pane fade" id="rr' + id_tab + '">' + data + '</div>');
  
    });
});

});


</script>


  <body id="page-top">
dd
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="index.html">Start Bootstrap</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>
            <span class="badge badge-danger">9+</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-envelope fa-fw"></i>
            <span class="badge badge-danger">7</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">Activity Log</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
        </li>
      </ul>

    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Login Screens:</h6>
            <a class="dropdown-item" href="login.html">Login</a>
            <a class="dropdown-item" href="register.html">Register</a>
            <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Other Pages:</h6>
            <a class="dropdown-item" href="404.html">404 Page</a>
            <a class="dropdown-item" href="blank.html">Blank Page</a>
          </div>
        </li>
        <form name="Reportes" method="post">
            {% csrf_token %}

            {% for id in menu %}
            <span>Pages</span>


            <li class="nav-item">                                

          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<i class="fas fa-fw fa-tachometer-alt"></i><span class="fa arrow"> {{ id.Nombre }}</span></a>
                    <ul class="">
                         
                                    {% for pkmodulo in modulos %}
                                    
                                    {% if id.PkModGen == pkmodulo.PkModGen %}
                                            


                                            <li>
                                            <a href="#">{{ pkmodulo.modulo }} <span class="fa arrow"></span></a>
                                            <ul>
                                                    
                                            {% for PkReporte in reportes %}
                                            {% if PkReporte.pkmodulo == pkmodulo.id %}
                                            <li>
                                               <a class="reporte_list" id="{{ PkReporte.id }}" value="{{ PkReporte.id }}" result="{{PkReporte.diplay}}" label="Reportes"></i>{{ PkReporte.diplay }}</a>
                                               <input type="hidden" id="Tipo"  name="Tipo" value="Reporte">
                                            <input type="hidden" id="pkreporte"  name="pkreporte" value="{{ pkreporte.nombre }}">
                                            </li>
                                            {% endif %}
                                            {% endfor %}
                                            
                                            {% for PkOpciones in opciones %}
                                            {% if PkOpciones.PkModulo == pkmodulo.id %}
                                            <li>
                            
                                           <a class="opciones_list" id="{{ PkOpciones.PkModulo }}" value="{{ PkOpciones.PkModulo }}" result="{{ pkmodulo.modulo }} - {{ PkOpciones.Nombre }}" label="{{ PkOpciones.Nombre }}"></i> {{ PkOpciones.Nombre }} </a>
                                               <input type="hidden" id="Tipo"  name="Tipo" value="Ingreso">
                                            <input type="hidden" id="PkOpciones"  name="PkOpciones" value="{{ PkOpciones.nombre }}">
                                            
                                            </li>
                                            {% endif %}
                                            {% endfor %}
                                            
                                            </ul>
                                            </li>
                                    {% endif %}
                                      
                                    {% endfor %}
                                    
                                    
                                    
                                    
                                    
                          
                    </ul>
        <!-- /.nav-second-level -->
            </li>
    {% endfor %}
    
        </form>
                       
                         
                            <!-- /.nav-second-level -->


                        


      </ul>

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Overview</li>
          </ol>

          <!-- Icon Cards-->
          
          
        
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2018</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="/static/vendor/chart.js/Chart.min.js"></script>
    <script src="/static/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/static/vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="/static/js/demo/datatables-demo.js"></script>
    <script src="/static/js/demo/chart-area-demo.js"></script>

  </body>

</html>
