<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

<script src="/static/jquery.min.js"></script> 



<script>

$(document).ready(function(){
var filas = 0;



    $("#btnmas").click(function(){


filas = filas + 1;
$("#tabla_detalle").find('tbody')
    .append($('<tr>')
        .append($('<td>')
            .append($('<p>')
                .text(filas + 1)
            )
        )


{% for item in Dcampos_2 %}
  {% if item.Visible == "Y" %}
        .append($('<td>')
            .append($('<input>')
                .attr('type', 'text')
                //.attr('onkeydown', 'if (event.keyCode == 13) {return false;}')
                .attr('name', filas +'${{ item.Nombre}}')
                .attr('value', '0')

            )
        )

  {{else}}
            .append($('<input>')
                .attr('type', 'hidden')
                .attr('name', filas +'${{ item.Nombre}}')
                .attr('value', '0')

            )
  {% endif %}
{% endfor %}
    );


    });
});
</script>




</head>

    <div id="wrapper" style="padding-top: 20px;">
<form name="ingreso" method="post" target="_blank">
 <fieldset>

      <div class="col-sm-1">

<button class="btn btn-primary btn-lg btn-block" id="reporteejecutar" name="reporteejecutar" type="submit" value="">Grabar</button>

<button class="btn btn-primary btn-lg btn-block" id="reporteejecutar" name="reporteejecutar" type="submit" value="" onclick="">Cerrar</button>

      </div>
      <div class="col-lg-8">
            <div class="row row-table">
                             <div >                                  
                                <ul>
                                  {% for item in Dcampos_1 %}
                                 
                                    {% if item.Visible == "Y" %}
                                        {% if item.X == 0 %}
                                
                                          <div style="padding-top: 5px; width: 350px; height: 30px;" class="row">  
                                              <p>{{item.Descripcion}}:
                                     <!- onkeydown="if (event.keyCode == 13) {  return false;}" ->
                                            <input name="{{item.Nombre}}" value="{{item.Valor}}"

                                          </td>
                                            </p> 
                                          </div>
                                        {% else %}

                                          <div style="position: absolute; left: {{item.X}}px; top: {{item.Y}}px; width: 350px; height: 30px;" class="row">
                                              <p>{{item.Descripcion}}:
                                            <input onkeydown="if (event.keyCode == 13) { return false;}" type="text" name="{{item.Nombre}}" value="{{item.Valor}}"</td>
                                            </p> 
                                          </div>
                                        {% endif %}
                                      
                                    {% else %}
                                              <input type="hidden" name="{{ item.Nombre }}" value="{{item.Valor}}"</td>
                                    {% endif %}
                                 {% endfor %}
                                </ul>
                              </div>
                      </div>

          <div class="table-responsive">
          
             <table class="table" id="tabla_detalle">  
                                <thead>
                                    <tr>
                                      <th>#</th>
                                      {% for item in Dcampos_2 %}
                                          {% if item.Visible == "Y" %}

                                        <th>{{item.Descripcion}}</th>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>

                                   
                                <tr>
                                  <td><p>1</p></td>
                                  {% for item in Dcampos_2 %}

                                   {% if item.Visible == "Y" %}
                                          <td>
                                                <input onkeydown="if (event.keyCode == 13) { return false;}" type="text" name="0${{ item.Nombre}}" value="0"</td>

                                          </td>
                                        {{else}}
                                                <input type="hidden" name="0${{ item.Nombre}}" value="0"</td>
                                        {% endif %}

                                        {% endfor %}
                                </tr>

                               

                               
                                </tbody>
                                
                                       
            </table> 
            <button type="button" id="btnmas" class="btn btn-primary">+</button>


          </div>

      </div>
       
        




          
      </fieldset>    
    </form>
   <!-- jQuery -->
    <script src="/static/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="/static/raphael.min.js"></script>
    <script src="/static/morris.min.js"></script>
    <script src="/static/morris-data.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/static/sb-admin-2.js"></script>

    <script src="/static/jquery.dataTables.min.js"></script> 
    <script src="/static/dataTables.bootstrap.min.js"></script>
    <script src="/static/dataTables.responsive.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>  

</body>

</html>
