<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#333">
    <title>Cero Codigo Edocs</title>
    <meta name="description" content="Material Style Theme">
    <link rel="shortcut icon" href="http://nlubkov.com/web2/versiones/icono_cero_nego.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/preload.min.css" />
    <link rel="stylesheet" href="/static/plugins.min.css" />
    <link rel="stylesheet" href="/static/style.light-blue-500.min.css" />
    <!--[if lt IE 9]>
        <script src="/static/html5shiv.min.js"></script>
        <script src="/static/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="ms-preload" class="ms-preload">
      <div id="status">
        <div class="spinner">
          <div class="dot1"></div>
          <div class="dot2"></div>
        </div>
      </div>
    </div>
    <div class="bg-full-page ms-hero-bg-dark ms-hero-img-airplane back-fixed">
      <div class="mw-500 absolute-center">
        <div class="card color-dark shadow-6dp animated fadeIn animation-delay-7">
        
             <div class="card-block">
            <img src="http://nlubkov.com/web2/versiones/logo_cero_cod.png" alt="" class="" style="width: 100%;">
            
          </div>
         
          <ul class="nav nav-tabs nav-tabs-full nav-tabs-3 nav-tabs-transparent indicator-primary" role="tablist">
            <li role="presentation" class="active">
              <a href="#ms-login-tab" aria-controls="ms-login-tab" role="tab" data-toggle="tab" class="withoutripple">
                <i class="zmdi zmdi-account"></i>Ingresa</a>
            </li>
            <li role="presentation">
              <a href="#ms-register-tab" aria-controls="ms-register-tab" role="tab" data-toggle="tab" class="withoutripple">
                <i class="zmdi zmdi-account-add"></i> Registrate</a>
            </li>
            <li role="presentation">
              <a href="#ms-recovery-tab" aria-controls="ms-recovery-tab" role="tab" data-toggle="tab" class="withoutripple">
                <i class="zmdi zmdi-key"></i> Recupera</a>
            </li>
          </ul>
          <div class="card-block">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade active in" id="ms-login-tab">
                <form method="post">
                          {% csrf_token %}
              <fieldset>
                    <div class="form-group label-floating">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="zmdi zmdi-account"></i>
                        </span>
                        <label class="control-label" for="ms-form-user">Ruc</label>
                        <input type="text" id="ms-form-user" name="Ruc" class="form-control"> </div>
                    </div>
                    <div class="form-group label-floating">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="zmdi zmdi-lock"></i>
                        </span>
                        <label class="control-label" for="ms-form-pass">Clave</label>
                        <input type="password" id="ms-form-pass" name="password" class="form-control"> </div>
                    </div>
                    <div class="row ">
                      
                   {% if error_message == "Error de ingreso" %}
                <div class="alert alert-danger alert-dismissible" role="alert">{{ error_message }}</div>
              {% endif %}
                    {% if error_message == "No existe Clave Documento Valido" %}
                <div class="alert alert-danger alert-dismissible" role="alert">{{ error_message }}</div>
              {% endif %}
                 {% if error_message == "Correo o Ruc no Validos" %}
                <div class="alert alert-danger alert-dismissible" role="alert">{{ error_message }}</div>
              {% endif %}
                {% if error_message == "Ruc ya Existe" %}
                <div class="alert alert-danger alert-dismissible" role="alert">{{ error_message }}</div>
              {% endif %}
                      {% if error_message == "Ingrese con su usuario y clave nuevas" %}
                <div class="alert alert-success alert-dismissible" role="alert">{{ error_message }}</div>
              {% endif %}
               {% if error_message == "Se envio su clave a su Correo Registrado" %}
                <div class="alert alert-success alert-dismissible" role="alert">{{ error_message }}</div>
              {% endif %}
                    <input type="hidden" id="ms-form-user"  name="Tipo" class="form-control" value="Ingreso">

                        <button class="btn btn-raised btn-block btn-primary">Ingresar</button>
                        
                      </div>
                 
                  </fieldset>
                </form>
                
              </div>
              <div role="tabpanel" class="tab-pane fade" id="ms-register-tab">
                <form method="post">
                          {% csrf_token %}
              <fieldset>
                    <div class="form-group label-floating">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="zmdi zmdi-account"></i>
                        </span>
                        <label class="control-label" for="ms-form-user">Ruc</label>
                        <input type="text" id="ms-form-user" name="Ruc" class="form-control"> </div>
                    </div>
                        <div class="form-group label-floating">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="zmdi zmdi-account"></i>
                        </span>
                        <label class="control-label" for="ms-form-user">Razon Social</label>
                        <input type="text" id="ms-form-user" name="Razon" class="form-control"> </div>
                    </div>
                    <div class="form-group label-floating">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="zmdi zmdi-email"></i>
                        </span>
                        <label class="control-label" for="ms-form-email">Email</label>
                        <input type="email" id="ms-form-email" name="email" class="form-control"> </div>
                    </div>
                    <div class="form-group label-floating">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="zmdi zmdi-lock"></i>
                        </span>
                        <label class="control-label" for="ms-form-pass">Clave</label>
                        <input type="password" id="ms-form-pass" name="clave" class="form-control"> </div>
                    </div>
                  <div class="form-group label-floating">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="zmdi zmdi-lock"></i>
                        </span>
                        <label class="control-label" for="ms-form-pass">Clave Acceso de un documento</label>
                        <input type="text" id="ms-form-pass" name="clave_doc" class="form-control"> </div>
                    </div>
                      <input type="hidden" id="ms-form-user"  name="Tipo" class="form-control" value="Registro">
                      
                    <button class="btn btn-raised btn-block btn-primary">Registrate</button>
                  </fieldset>
                </form>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="ms-recovery-tab">
                 <form method="post">
                          {% csrf_token %}
              <fieldset>
               <div class="form-group label-floating">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="zmdi zmdi-account"></i>
                      </span>
                      <label class="control-label" for="ms-form-user">Ruc</label>
                      <input type="text" id="ms-form-user" name="Ruc" class="form-control"> </div>
                  </div>
                  <div class="form-group label-floating">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="zmdi zmdi-email"></i>
                      </span>
                      <label class="control-label" for="ms-form-email">Email</label>
                      <input type="email" id="ms-form-email" name="Email" class="form-control"> </div>
                  </div>
                                        <input type="hidden" id="ms-form-user"  name="Tipo" class="form-control" value="Recuperar">
   
              
                  <button class="btn btn-raised btn-block btn-primary">Enviar Clave</button>
                </fieldset>
                </form>
              </div>
            </div>

        <div class="text-center animated fadeInUp animation-delay-7">
          <a href="http://www.cerocodigo.com" class="btn btn-primary">
            <i class="zmdi zmdi-home"></i>www.cerocodigo.com</a>

        </div>
      
      </div>
    </div>
    <script src="/static/plugins.min.js"></script>
    <script src="/static/app.min.js"></script>
  </body>
</html>