        
        <form name="variables" method="post" target="_blank">
                     
                        
              <fieldset>

                 <input type="hidden" id="pkrepor"  name="pkrepor" value="{{pkrepo}}">
                  <input type="hidden" id="Medio"  name="Medio" value="Ejecutar_Reporte">


**boton_cierre**
                  <button class="btn btn-primary" id="reporteejecutar" name="reporteejecutar" type="submit" value="{{ pkrepo }}" onclick="reporte_ejecutar(pestalla)">Ejecutar</button>

                  
                    <br>
                             <div class="card-block text-left">
<table class="table table-hover">
    <thead><tr><th></th><th></th><th></th></tr></thead>
    <tbody>
                        {% for pkvariable in variables_reprotes %}
                        <br>
                                {% if pkvariable.tipo == "Texto" %}
        <tr>
            <td><strong>{{ pkvariable.glosa }}:</td>
            <td> <input type="text" name="{{ pkvariable.id_rep }}" value="%"></td>
            <td></td>
        </tr>

                                {% endif %}
                                
                                {% if pkvariable.tipo == "Valor" %}
        <tr>
            <td><strong>{{ pkvariable.glosa }}:</td>
            <td> <input type="text" id="var-{{pestalla}}-{{pkvariable.id}}"  name="{{ pkvariable.id_rep }}" value="0"></td>
            <td></td>
        </tr>
                                {% endif %}
                                {% if pkvariable.tipo == "Fecha" %}
        <tr>
            <td><strong>{{ pkvariable.glosa }}:</td>
            <td> <input type="date" id="var-{{pestalla}}-{{ pkvariable.id }}" name="{{ pkvariable.id_rep }}" value="{{pkvariable.valor}}"</td>
            <td></td>
        </tr>
                                {% endif %}
                                {% if pkvariable.tipo == "FechaTiempo" %}
        <tr>
            <td><strong>{{ pkvariable.glosa }}:</td>
            <td> <input type="date" id="var-{{pestalla}}-{{ pkvariable.id }}" name="{{ pkvariable.id_rep }}" value="{{pkvariable.valor}}"</td>
            <td></td>
        </tr>
                                {% endif %}
                                {% if pkvariable.tipo == "FechaAnio" %}
        <tr>
            <td><strong>{{ pkvariable.glosa }}:</td>
            <td><input type="date" id="var-{{pestalla}}-{{ pkvariable.id }}" name="{{pkvariable.id_rep}}" value="{{pkvariable.valor}}" </td>
            <td></td>
        </tr>
                                {% endif %}
                                {% if pkvariable.tipo == "FechaMes" %}
        <tr>    
            <td><strong>{{ pkvariable.glosa }}:</td>
            <td> <input type="date" id="var-{{pestalla}}-{{ pkvariable.id }}" name="{{ pkvariable.id_rep }}" value="{{pkvariable.valor}}"</td>
            <td></td>
        </tr>
                                {% endif %}
                                
                        {% endfor %}
                        
                         {% for pkreferencia in referencias_reprotes %}
                                {% if pkreferencia.multi == "False" %}
        <tr>
            <td><strong>{{ pkreferencia.glosa }}:</td>
            <td> <input type="text" id="ref{{ pkreferencia.id }}" name="{{ pkreferencia.id }}" value="%"></td>
            <td> <button type="button" onclick="buscar({{ pkreferencia.id }})" class="btn btn-primary">Buscar</button></td>
        
        </tr>                       
                                {% endif %}
                        {% endfor %}
                        
                      
                             
           </tbody>
</table>
                 
                  

                             
                     </div>   
                             
        </fieldset>             
</form>

    
     
  


