

<html>
    <head>
      <style>
        /* Add any necessary CSS styling here */
      </style>
    </head>
    <body>

        <div class="col-md-6 col-xs-12">


        <table style="width: 350px;text-align: center;">
            <tbody>
                
                <tr><td><img style="width: 350px;" src="https://www.cerocodigo.com/media/archivos/DLM_Local/logo.png" value="logo.png" alt=""></td></tr>
             
            </tbody>
        </table>
        
        
        <h1>¡Bienvenido!</h1>
        <h4>Hemos registrado tu cita y estaremos listos para atenderte.</h4>
        
        <table style="width: 350px;">
            <tbody>
                
                <tr><td style="font-weight: bold;">Correo: </td><td colspan="2">@PacienteEmail</td></tr>
                <tr><td style="font-weight: bold;">Nombre: </td><td colspan="2">@PacienteNombre</td></tr>
                <tr><td style="font-weight: bold;">Fecha: </td><td colspan="2">@Fecha</td></tr>
                <tr><td style="font-weight: bold;">Espec: </td><td colspan="2">@Servicios</td></tr>
                
                
            </tbody>
        </table>
        
        
        <p>Te esperamos en nuestro centro de atención</p>
        <p>Edif. ARCOS PLAZA 2, Piso 3 Ofi. 316 Guayaquil, Vía a Samborondón, detrás del Riocentro.</p>
        
        <p>Puede cancelar su cita desde <a href="https://agenda.dlm.com.ec/ext/DLM">aquí</a>.</p>
    </div>
    <div class="col-md-6 col-xs-12">
    </div>
    <img style="width: 350px;" src="https://www.cerocodigo.com/static/img/dlm1.jpg" value="logo.png" alt="">
      
    <img style="width: 350px;" src="https://www.cerocodigo.com/static/img/dlm2.jpg" value="logo.png" alt="">

    </body>
  </html>

  