<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>Cero Codigo Edocs</title>
  <!-- Latest compiled and minified CSS -->

  <link rel="stylesheet" href="/static/a/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Optional theme -->
  <script src="/static/a/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.debug.js"></script>

  <!-- MetisMenu CSS -->
  <link href="/static/metisMenu.min.css" rel="stylesheet">

  <!-- DataTables CSS -->
  <link href="/static/dataTables.bootstrap.css" rel="stylesheet">

  <!-- DataTables Responsive CSS -->
  <link href="/static/dataTables.responsive.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/static/sb-admin-2.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="/static/font-awesome.min.css" rel="stylesheet" type="text/css">


  <!--<link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
       <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <!--       
        <script type="text/javascript" src="js/jquery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="js/jquery/jquery-ui-1.8.17.custom.min.js"></script>
    <script type="text/javascript" src="../dist/jspdf.debug.js"></script>
    <script type="text/javascript" src="js/basic.js"></script>
  
<script type="text/javascript" src="/static/zlib.js"></script>
<script type="text/javascript" src="/static/png.js"></script>
<script type="text/javascript" src="/static/addimage.js"></script>
<script type="text/javascript" src="/static/png_support.js"></script>       
<script type="text/javascript" src="/static/jspdf.js"></script>
  -->


  <!--[endif]---->
  <script type="text/javascript">

  </script>


</head>

<body>



    <iframe id="inlineFrameExample"
    title="Inline Frame Example"
    width="300"
    height="200"
    src="https://www.cerocodigo.com/ext/DLM">
    </iframe>



  <!-- /#page-wrapper -->


  <!-- /#wrapper -->

  <!-- jQuery -->
  <script src="/static/jquery.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/static/bootstrap.min.js"></script>

  <!-- Metis Menu Plugin JavaScript -->
  <script src="/static/metisMenu.min.js"></script>

  <!-- DataTables JavaScript -->
  <script src="/static/jquery.dataTables.min.js"></script>
  <script src="/static/dataTables.bootstrap.min.js"></script>
  <script src="/static/dataTables.responsive.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="/static/sb-admin-2.js"></script>

  <!-- Page-Level Demo Scripts - Tables - Use for reference -->







</body>

</html>